/* src/styles/Suppliers.css */

.suppliers-page {
  padding: 20px;
  margin-top: var(--navbar-height); /* Offset for navbar height */
}

.suppliers-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-supplier-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-supplier-btn:hover {
  background-color: #0b8e0f;
}

.suppliers-table {
  width: 100%;
  border-collapse: collapse;
}

.suppliers-table th,
.suppliers-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.edit-btn {
  background-color: #3498db;
  color: white;
  margin-right: 10px;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

button i {
  margin-right: 5px; /* İkon ile metin arasına boşluk */
}

